doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",crossorigin="anonymous")
  body
    h1= title
    p Welcome to Flyer
    //- if !user
    //-   a(href="/auth/github") login with github
    //-   a(href="/auth/github") 发起问题
    //- else
      a(href=user.profileUrl target="_blank") #{user.displayName}
      img(src= user.avatar_url+'&s=100'  alt= user.displayName)
      a(href="/issue/new") 发起问题
      a(href="/auth/logout") 退出
    hr
    block content
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",crossorigin="anonymous")
